@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #b1c61c;
  --color-secondary-bg: #e0e092;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: calc(15px + 0.1vw);
}

p {
  @apply mb-5;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium leading-tight;
  }

  h1 {
    @apply text-4xl mb-6;
  }

  h2 {
    @apply text-3xl mb-5;
  }

  h3 {
    @apply text-2xl mb-4;
  }

  h4 {
    @apply text-xl mb-3;
  }

  h5 {
    @apply text-lg mb-2;
  }

  h6 {
    @apply text-base mb-2 font-medium;
  }

  p {
    @apply mb-8  leading-relaxed;
  }

  ul {
    @apply list-disc list-inside mb-8 pl-4;
  }

  ol {
    @apply list-decimal list-inside mb-8 pl-4;
  }

  li {
    @apply mb-1;
  }

  a {
    @apply text-blue-600 hover:text-blue-800;
  }

  blockquote {
    @apply border-l-4 border-gray-300  pl-4 italic text-gray-600  mb-4;
  }
}
/* .single-body ul,
ol {
  @apply font-medium;
} */
